// ===================================
// Colors
// ===================================

// color palette
$palettes: (
    purple: (
        base: #8232d2
    ),
    wolf: (
        base: #b7b8c7
    ),
    black: (
        base: #000000
    ),
    white: (
        base: #ffffff
    )
);

// palette shortcut function
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}
