<nav>
    <h4>Components</h4>

    <ul data-magellan>
        <li><a href="#typography">Typography</a></li>
        <li><a href="#abide">Abide</a></li>
        <li><a href="#accordion">Accordion</a></li>
        <li><a href="#accordion-menu">Accordion Menu</a></li>
        <li><a href="#badge">Badge</a></li>
        <li><a href="#breadcrumbs">Breadcrumbs</a></li>
        <li><a href="#button">Button</a></li>
        <li><a href="#button-group">Button Group</a></li>
        <li><a href="#callout">Callout</a></li>
        <li><a href="#close-button">Close Button</a></li>
        <li><a href="#drilldown-menu">Drilldown Menu</a></li>
        <li><a href="#dropdown">Dropdown</a></li>
        <li><a href="#dropdown-menu">Dropdown Menu</a></li>
        <li><a href="#equalizer">Equalizer</a></li>
        <li><a href="#flex-video">Flex Video</a></li>
        <li><a href="#float-classes">Float Classes</a></li>
        <li><a href="#forms">Forms</a></li>
        <li><a href="#grid">Grid</a></li>
        <li><a href="#interchange">Interchange</a></li>
        <li><a href="#label">Label</a></li>
        <li><a href="#magellan">Magellan</a></li>
        <li><a href="#media-object">Media Object</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#off-canvas">Off-canvas</a></li>
        <li><a href="#orbit">Orbit</a></li>
        <li><a href="#pagination">Pagination</a></li>
        <li><a href="#progress-bar">Progress Bar</a></li>
        <li><a href="#responsive-menu">Responsive Menu</a></li>
        <li><a href="#responsive-toggle">Responsive Toggle</a></li>
        <li><a href="#reveal">Reveal</a></li>
        <li><a href="#slider">Slider</a></li>
        <li><a href="#sticky">Sticky</a></li>
        <li><a href="#switch">Switch</a></li>
        <li><a href="#table">Table</a></li>
        <li><a href="#tabs">Tabs</a></li>
        <li><a href="#thumbnail">Thumbnail</a></li>
        <li><a href="#title-bar">Title Bar</a></li>
        <li><a href="#toggler">Toggler</a></li>
        <li><a href="#tooltip">Tooltip</a></li>
        <li><a href="#top-bar">Top Bar</a></li>
        <li><a href="#visibility-classes">Visibility Classes</a></li>
    </ul>
</nav>
