{% import "partials/head.html" as head %}
{% import "partials/documentation.html" as docs %}

<!DOCTYPE html>
	{{ head.render(pageName) }}
<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            {# off-canvas left menu #}
            <div class="off-canvas position-left" id="offCanvasLeft" data-position="left" data-off-canvas>
                {% include "partials/navigation.html" %}
            </div>

            {# original content goes in this container #}
            <div class="off-canvas-content" data-off-canvas-content>
            	<div class="page">
                    {% block header %}

                    {% endblock %}

            		{% block content %}

            		{% endblock %}

            		{% include "partials/footer.html" %}

            	  	{% include "partials/scripts.html" %}
              	</div>
            </div>
        </div>
    </div>
</body>
</html>
